/* Using App.css to defind the slack color. Encasing it in the body means that it is only accessible to the body component */
/* This var can also be defined in the Header.css as well */
body {
  --slack-color: #3f0f40
}
.app__body {
  display: flex;
  height: 93vh;
}
.intro {
  margin-left: 20px;
  margin-top: 20px;
  line-height: 40px;
  font-weight: 600;
}
.intro > h1 {
  text-decoration: underline;
}